---
layout: default
---

<div class="home">
  <div class="home-intro">
    <h1 class="site-name">Will</h1>
    <p class="tagline">// field log</p>
  </div>

  <div class="divider">--- ENTRIES ---</div>

  <div class="posts">
    {% assign sorted = site.posts | sort: "date" %}
    {% for post in sorted %}
    <article class="post-entry">
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
        <span class="post-date">[{{ post.date | date: "%Y-%m-%d" }}]</span>
        <span class="post-title">{{ post.title }}</span>
        <p class="post-excerpt">{{ post.content | strip_html | truncatewords: 35 }}</p>
      </a>
    </article>
    {% endfor %}
  </div>
</div>
